.baitap{
    width: 30%;
    height: 30%;
    background-color: red ;
    border: 3px solid yellow;
    border-radius: 10px;
    margin: 30px auto;
    padding: 50px;
    text-align: center;
}
button{
    display: block;
    margin: 0 auto;
    padding: 5px 30px;
    border-radius: 10px;
    color: yellow;
    background-color: rgb(255, 0, 0);
    font-weight: 700;
}
input{
    width: 70%;
}
h2, h5, input, button{
    margin-bottom: 20px;
    color: yellow;
}